# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#External libraries
Libs

#Folders
.vs
Release
Debug

# vcxproj.user file 
*.vcxproj.user

#bak files
*.bak

#imgui configurations
*imgui.ini

#zip files
*.zip

#Resources
Resources

#assimp
assimp

#FBX
FBX
*.fbx

#armadillo
armadillo-11.4.2